input:focus {
  outline: 0;
}
input {
  font-family: Helvetica, Arial, sans-serif;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #cccccc;
}
input {
  border: 1px solid #cccccc;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  width: 250px;
  height: auto;
  overflow: hidden;
  margin: 4px;
  font-size: 0.9em;
  line-height: 0.9em;
  padding: 12px;
}
#content {
  height: 400px;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}
.label {
  font-style: italic;
  display: block;
  text-align: center;
  padding: 2px;
  background-color: #efefef;
  margin: 8px 0;
  font-size: 0.9em;
  color: #8c8c8c;
}
.form-search {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 4px;
}
.search-query {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  font-size: 1.1700000000000002em;
  margin-bottom: 8px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
.link-container {
  background-color: white;
  position: relative;
  padding: 8px 4px;
}
.link-container a.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: #c11a03;
  color: white;
  padding: 8px;
  text-decoration: none;
}
.link-container a.delete:hover {
  background-color: #8f1302;
}
.link-container a.url {
  line-height: 100%;
  font-size: 0.9em;
  display: block;
  color: #999999;
  text-decoration: none;
}
.link-container:hover {
  background-color: #efefef;
}
.link-container:hover a.url {
  color: black;
}
.link-container:hover a.delete {
  display: inline-block;
}
