!!!!!
%head
  %title Chrome Bookmark MGR
  %link{:rel => "stylesheet", :media => "all", :href => "css/app.css"}

%body
  .container-fluid#content
    .row
      %h1 Bookmarks
    .row
      .span4
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .span4
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .span4
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    / content gets put here with jst

  %script#bookmark-list{:type => "text/jst"}
    .row
      {{#bookmarks}}
      .bookmark
        {{name}}
      {{/bookmarks}}

  / libraries
  %script{:type => "text/javascript", :src => "js/libs/jquery-1.9.1.min.js"}
  %script{:type => "text/javascript", :src => "js/libs/bootstrap.min.js"}
  %script{:type => "text/javascript", :src => "js/libs/underscore.min.js"}
  %script{:type => "text/javascript", :src => "js/libs/backbone.min.js"}
  %script{:type => "text/javascript", :src => "js/libs/mustache.min.js"}

  / custom scripts
  %script{:type => "text/javascript", :src => "js/models/bookmark_model.js"}
  %script{:type => "text/javascript", :src => "js/views/index_view.js"}
  %script{:type => "text/javascript", :src => "js/router.js"}
  %script{:type => "text/javascript", :src => "js/app.js"}