doctype html
html(lang="en")
head
  title Chrome Bookmark MGR
  link(rel="stylesheet" media="all" href="dist/css/app.css")

body
  .container-fluid
    #search-container
    #content
      //- content gets put here with jst

  script#search-view(type="text/jst")
    form.form-search
      .controls-row
        input#search-field.input-medium.search-query.span12(type="text" placeholder="Search your bookmarks")

  script#bookmark-view(type="text/jst")
    .row-fluid.time-ago
      .span12.text-center
        .label
          {{timeAgo}}

    .row-fluid
      .span10
        a.url(href="{{{url}}}")
          {{shortTitle}}
      .span2
        a.delete(href="#bookmark/destroy{{id}}")
          i.icon-trash